<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{page.title}}</title>
<meta name="description" content="Technical insites in Java, GAE, GWT, Ruby, Ruby on Rails, Maven, GPS and more.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <div class="container-narrow">

        <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="/">Home</a></li>
          <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="/about/">About</a></li>
          <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="/contact/">Contact</a></li>
        </ul>
        <h3 class="muted">Brian Chapman</h3>
        <h4 class="muted">RideTop Solutions</h4>
      </div>

      <hr>

<!--
      <div class="jumbotron">

      </div>
      <hr>
-->


{{content}}

    <div class="row-fluid marketing">
        <div class="span6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>

    <hr>

    {% include footer.html %}  

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="/lib/jquery/jquery-min.js"><\/script>');
    </script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
		var _gaq = [ [ '_setAccount', 'UA-XXXXX-X' ], [ '_trackPageview' ] ];
		(function(d, t) {
			var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
			g.src =
				('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s)
		}(document, 'script'));
    </script>

    <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

</body>
</html>
